body {font-size: .85em;font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif; color: #232323; background-color: #fff;}
header, footer, nav, section { display: block;}

header, .header{ padding:2px 6px; background:#eee; border-bottom:1px solid #ddd}
.pageBody { padding:10px}

/* 表格
-----------------------------------------------------------*/
.t-grid.Grid .editor { border: 0px }
.t-grid.Grid tr.sel .editor { border: 1px }
.t-grid.Grid tr.tmpl .editor { border: 1px rgb(190, 228,251) solid}
.t-grid.Grid tr.sel  {  background: rgb(190, 228,251) }

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset { border: 1px solid #ddd;  padding: 0 1.4em 1.4em 1.4em; margin: 0 0 1.5em 0;}
legend { font-size: 1.2em; font-weight: bold;}
textarea { min-height: 75px;}
.editor-label { margin: 1em 0 0 0;}
.editor-field { margin: 0.5em 0 0 0;}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {color: #f00;}
.field-validation-valid {display: none;}
.input-validation-error {border: 1px solid #f00; background-color: #fee;}
.validation-summary-errors {font-weight: bold; color: #f00;}
.validation-summary-valid {display: none;}
